<template>
  <AsidePanel
    v-model="selectedTable"
    class="main-aside"
  >
    <AgGridVue
      class="main-aside__grid"
      :class="themeClass"

      :column-defs="grid.columnDefs"
      :row-data="grid.gridData"
      :get-row-id="(params) => params.data.id"

      prevent-default-on-context-menu
      row-selection="single"

      @grid-ready="onReady"
      @selection-changed="onChange"

      @cell-context-menu="onContextMenu"
    />
  </AsidePanel>
</template>

<script>
import { AsidePanel } from '@entities/AsidePanel';

import { AgGridVue } from 'ag-grid-vue';

export default {
  name: 'MainAside',
  components: { AsidePanel, AgGridVue },
  props: {
    routes: {
      type: Array,
      default: () => [],
    },
    value: {
      type: String,
      default: () => 'routes',
    },
  },
  emits: {
    select: (routeId) => typeof routeId === 'number',
    change: (table) => typeof table === 'string',
    input: (value) => typeof value === 'string',
  },
  data() {
    return {
      themeClass: 'ag-theme-material',

      gridApi: null,
    };
  },
  computed: {
    selectedTable: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit('input', newValue);
      },
    },
    grid() {
      const CONFIG = new Map([
        ['routes', {
          columnDefs: [
            { field: 'name' },
            { field: 'stops' },
          ],
          gridData: this.routesData,
        }],
        ['stops', {
          columnDefs: [
            { field: 'name' },
            { field: 'routes', width: 100 },
            { field: 'direction' },
          ],
          gridData: this.stopsData,
        }],
      ]);

      return CONFIG.get(this.selectedTable);
    },

    routesData() {
      return this.routes.map((route) => ({
        id: route.ID,
        name: route.Name,
        stops: route.Stops.length,
      }));
    },
    stops() {
      return this.routes.flatMap((route) => route.Stops);
    },
    stopRoutesMap() {
      const stopRoutesMap = new Map();

      for (let i = 0; i < this.stops.length; i += 1) {
        const stopInfo = this.stops[i];

        if (!stopRoutesMap.has(stopInfo.ID)) {
          stopRoutesMap.set(stopInfo.ID, []);
        }
        stopRoutesMap.get(stopInfo.ID).push(stopInfo.RouteID);
      }

      return stopRoutesMap;
    },
    stopsData() {
      return this.stops
        .map((stopInfo) => ({
          id: `${stopInfo.ID}__${stopInfo.RouteID}__${stopInfo.Forward ? 'F' : 'B'}`,
          name: stopInfo.Name,
          routes: this.stopRoutesMap.get(stopInfo.ID).length,
          direction: stopInfo.Forward ? 'Прямое' : 'Обратное',
        }));
    },
  },
  watch: {
    selectedTable: {
      handler(newVal, oldVal) {
        if (newVal === oldVal) {
          return;
        }
        this.$emit('change', newVal);
      },
    },
  },
  methods: {
    onChange() {
      const [selectedRow] = this.gridApi.getSelectedRows();
      this.$emit('select', {
        kind: this.selectedTable,
        id: selectedRow?.id,
      });
    },
    onReady(params) {
      this.gridApi = params.api;
    },
    onContextMenu(evt) {
      console.log('context', evt);
    },
    selectStop(stopId) {
      const rowNode = this.gridApi.getRowNode(stopId);

      this.gridApi.setNodesSelected({ nodes: [rowNode], newValue: true });
      this.gridApi.ensureNodeVisible(rowNode, 'middle');
    },
  },
};
</script>

<style scoped lang="scss">
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-material.css";

.main-aside {
  &__grid {
    height: 100%;
  }
}
</style>
