<template>
  <div class="map-block">
    <LMap
      class="map-block__map"
      :zoom="zoom"
      :center="center"
    >
      <LTileLayer :url="url" />
      <LMarker
        v-for="marker in markers"
        :key="marker.key"
        :icon="marker.icon"
        :lat-lng="marker.latLon"
        @click="() => onMarkerClick(marker)"
      />
      <LPolyline
        v-for="line in routes"
        :key="line.id"
        :lat-lngs="line.points"
      />
    </LMap>
  </div>
</template>

<script>
import {
  LMap, LTileLayer, LMarker, LPolyline,
} from 'vue2-leaflet';
import { Icon } from 'leaflet';

import forwardStopIcon from './forwardStop.svg';
import backwardStopIcon from './backwardStop.svg';

export default {
  name: 'MapBlock',
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPolyline,
  },
  props: {
    routes: {
      type: Array,
      default: () => [],
    },
    stops: {
      type: Array,
      default: () => [],
    },
  },
  emits: {
    select: (markerId) => typeof markerId === 'number',
  },
  data() {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 13,
    };
  },
  computed: {
    markers() {
      return this.stops
        .map((stopMarker) => ({
          id: `${stopMarker.ID}__${stopMarker.RouteID}__${stopMarker.Forward ? 'F' : 'B'}`,
          latLon: [stopMarker.Lat, stopMarker.Lon],
          icon: new Icon({
            iconUrl: stopMarker.Forward ? forwardStopIcon : backwardStopIcon,
            iconSize: [52, 52],
            iconAnchor: [26, 26],
          }),
        }));
    },
    center() {
      return this.markers[0].latLon;
    },
  },
  methods: {
    onMarkerClick(marker) {
      this.$emit('select', marker.id);
    },

  },
};
</script>

<style scoped lang="scss">
.map-block {
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 24px;

  border: 1px solid black;

  &__map {
    border: 1px solid black;
  }
}
</style>
