<template>
  <div class="main-loader">
    <span class="main-loader__text">load data ...</span>
  </div>
</template>

<script>
export default {
  name: 'MainLoader',
};
</script>

<style scoped lang="scss">
.main-loader {
  display: flex;

  align-items: center;
  justify-content: center;

  min-height: 100vh;
  max-height: 100%;

  &__text {
    font-size: 32px;
    font-weight: 700;

    &::after {
      content: "";

      display: block;

      width: 20%;
      height: 6px;

      background-color: lightblue;
      border-radius: 6px;

      animation-name: slide;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }

  @keyframes slide {
    0% {
      transform: translate(0);
    }

    50% {
      transform: translate(400%);
    }

    100% {
      transform: translate(0);
    }
  }
}
</style>
