<template>
  <aside class="aside-panel">
    <ContentSelectors v-model="selectedTable" />
    <div class="aside-panel__content">
      <slot name="default" />
    </div>
  </aside>
</template>

<script>
import ContentSelectors from './ContentSelectors.vue';

export default {
  name: 'AsidePanel',
  components: { ContentSelectors },
  props: {
    value: {
      type: String,
      default: () => '',
    },
  },
  emits: {
    input: (payload) => typeof payload === 'string',
  },
  computed: {
    selectedTable: {
      get() {
        return this.value;
      },
      set(newVal) {
        this.$emit('input', newVal);
      },
    },
  },
};
</script>

<style scoped lang="scss">
.aside-panel {
  display: flex;

  flex-direction: column;

  padding: 8px 12px;

  &__content {
    flex-grow: 1;
  }
}
</style>
