<template>
  <div class="content-selectors">
    <label class="content-selectors__label">
      <input
        v-model="selectedValue"
        class="content-selectors__input"
        type="radio"
        name="table"
        value="routes"
      >
      Маршруты
    </label>
    <label class="content-selectors__label">
      <input
        v-model="selectedValue"
        class="content-selectors__input"
        type="radio"
        name="table"
        value="stops"
      >
      Остановки
    </label>
  </div>
</template>

<script>
export default {
  name: 'ContentSelectors',
  props: {
    value: {
      type: String,
      required: true,
    },
  },
  emits: {
    input: (payload) => typeof payload === 'string',
  },
  computed: {
    selectedValue: {
      get() {
        return this.value;
      },
      set(newVal) {
        this.$emit('input', newVal);
      },
    },
  },
};
</script>

<style scoped lang="scss">
@use "@shared/styles/hidden";

.content-selectors {
  display: flex;

  flex-wrap: wrap;
  gap: 12px;

  &__label {
    display: block;

    flex-grow: 1;

    padding: 4px 8px;

    text-align: center;

    cursor: pointer;

    border: 1px solid lightblue;
  }

  &__input {
    @include hidden.visually-hidden;
  }

  &__label:has(&__input:checked) {
    border-color: red;
  }
}
</style>
