<template>
  <div class="app">
    <MainLoader v-if="isLoading" class="app__content" />
    <MainPage
      v-else
      class="app__loader"
      :routes="routes"
    />
  </div>
</template>

<script>
import { MainLoader } from '@shared/MainLoader';
import { MainPage } from '@pages/MainPage';

import mockRoute1 from '../mock/route1.json';
import mockRoute2 from '../mock/route2.json';
import mock from '../mock/mock.json';

export default {
  name: 'App',
  components: { MainPage, MainLoader },
  data() {
    return {
      routes: [],
      isLoading: true,
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    async loadData() {
      this.isLoading = true;
      // const result = await fetch('https://220.transflow.ru/api/public/v1/routes_data?key=012345678abc');
      // this.routes = await result.json();
      console.log(Array.isArray(mock));
      this.routes = mock.slice(0, 10);
      this.isLoading = false;
    },
  },
};
</script>

<style lang="scss">
@use "@shared/styles/normalize";
@use "@shared/styles/leaflet";

.app {
  display: flex;

  min-height: 100vh;

  &__content,
  &__loader {
    flex-grow: 1;
  }
}
</style>
