<template>
  <div class="main-page">
    <MainAside
      ref="mainAside"
      v-model="selectedTable"
      class="main-page__aside"
      :routes="routes"
      @select="onSelect"
    />
    <MapBlock
      class="main-page__map"
      :stops="filteredStops"
      :routes="filteredPoints"
      @select="onSelectFromMap"
    />
  </div>
</template>

<script>
import { MainAside } from '@widgets/MainAside';
import { MapBlock } from '@widgets/MapBlock';

export default {
  name: 'MainPage',
  components: { MapBlock, MainAside },
  props: {
    routes: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      selectedTable: 'routes',

      selectedRouteID: null,
      selectedStopID: null,
    };
  },
  computed: {
    routePoints() {
      return this.routes.map((route) => ({
        id: route.ID,
        points: route.Points.map((point) => [point.Lat, point.Lon]),
      }));
    },
    filteredPoints() {
      if (this.selectedTable !== 'routes') {
        return [];
      }
      if (this.selectedRouteID) {
        return this.routePoints.filter((route) => route.id === this.selectedRouteID);
      }
      return this.routePoints;
    },
    stops() {
      return this.routes.flatMap((route) => route.Stops);
    },
    filteredStops() {
      if (this.selectedStopID) {
        const [stopId, routeId, direction] = this.selectedStopID.split('__');
        return this.stops.filter((routeStop) => {
          const isForward = direction === 'F';
          return (
            routeStop.ID === Number(stopId)
            && routeStop.RouteID === Number(routeId)
            && routeStop.Forward === isForward
          );
        });
      }
      if (this.selectedRouteID) {
        return this.stops.filter((routeStop) => routeStop.RouteID === this.selectedRouteID);
      }
      return this.stops;
    },
  },
  watch: {
    selectedTable: {
      handler() {
        this.onChangeTable();
      },
    },
  },
  methods: {
    onChangeTable() {
      this.selectedRouteID = null;
      this.selectedStopID = null;
    },
    onSelect({ id, kind }) {
      const SELECTION_MAP = new Map([
        ['routes', 'selectedRouteID'],
        ['stops', 'selectedStopID'],
      ]);

      if (id) {
        this[SELECTION_MAP.get(kind)] = id;
      }
    },
    onSelectFromMap(id) {
      this.selectedTable = 'stops';
      this.selectedStopID = id;
      this.$nextTick().then(() => this.$refs.mainAside.selectStop(id));
    },
  },
};
</script>

<style scoped lang="scss">
.main-page {
  display: flex;

  &__aside {
    width: 25%;
  }

  &__map {
    width: 75%;
  }
}
</style>
